/* 
    > Let's write some CSS! Simply follow these specs:

    > First, Import style.css into index.html ~ !!!
        >> if you forgot how, Google is your friend

    > Create a selector for <h1> and add the following attributes
        ☑️ "Impact" font
        ☑️ 30px size
        ☑️ darkgrey text color
        ☑️ centered
    > Create a selector for <ol>
        ☑️ "Courier New" font
        ☑️ 1.4rem size
        ☑️ #748493 text color
    > Create a selector for the "learn-more-btn" class
        ☑️ Add a background color of #2F91FB
        ☑️ white text color
*/

h1 {
    font-family: 'Impact';
    font-size: 30px;
    color: darkgray;
    text-align: center;
}

ol {
    font-family: 'Courier New';
    font-size: 1.4rem;
    color: #748493;
}    

.learn-more-btn {
    background-color: #2f91fb;
    color: white;
}